<template id="customCardTemplate">
    <style type="text/css">
        h1 {
            background-color: red;
        }

        .container {
            border-radius: 25px;
            background: #73AD21;
            padding: 20px;
            width: 700px;
            height: 350px;
        }
    </style>
    <div class="container">
        <h1>Personal Details</h1>
        <div id="detailsContainer">
            <span>Name: <strong>Srdjan Markovic</strong></span><br />
            <span>Address: <strong>Djordja Stanojevica 11DJ</strong></span><br />
            <span>Phone: <strong>+38163325999</strong></span><br />
            <span>Company: <strong></strong></span><br />
            <span><img src="" alt="" /></span>
        </div>
    </div>
</template>
<script src="../scripts/iifeCustomElement.js"></script>